.customers {
  padding: 60px 0;
  @include desktop{
    padding: 94px 0;
  }
}

.customers__list {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

// .customers__item {
// }

.customers__link {
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  @extend %align-list;
  justify-content: center;
  width: 210px;
  height: 92px;
  transition: border var(--primary-duration-timing);
  &:hover,
  &:focus {
    border: 1px solid var(--active-color);
  }
  @include tablet {
    width: 226px;
  }
    @include desktop {
    width: 170px;
  }
}

.customers__icon {
  fill: var(--icon-primary-color);
  transition: fill var(--primary-duration-timing);
  .customers__link:hover &,
  .customers__link:focus & {
    fill: var(--active-color);
  }
}
